.main-blog2 {
  background: linear-gradient(45deg, #491755, #2f1754);
}
.main-blog2__container {
  width: 60%;
  margin: 0 auto;
}
.main-blog2__left {
  width: 70%;
}
.main-blog2__left img {
  width: 20vw;
  height: 37vh;
  margin-right: 2em;
}
.main-blog2__left .latest-news {
  padding-top: 7em;
}
.latest-news__list {
  margin-top: 3em;
  margin-bottom: 7em;
}
.latest-news__list span {
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  margin-right: 0.7em;
  background-color: rebeccapurple;
  padding: 0.65em 2em;
}
.main-blog2__blog {
  display: flex;
  margin-bottom: 5em;
}
.main-blog2__blog .main-blog__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 37vh;
  width: 300px;
}
