@import "reset.css";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap");
@import "main-img.css";
@import "blog.css";
@import "blog2__left.css";
@import "blog2__right.css";
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  color: white;
}
h3 {
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
}
